*{
    margin:0px;
    padding: 0px;
    outline: 0px;
}
a{
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }

}
li{
    list-style: none;
}

img{
    width: 100%;
}

