@import 'normalize.scss';
@import 'fonts.scss';

$maxWidth: 1100px;

body{
    font-family: 'Open Sans', 'Century Ghotic';
}

.header {
    width: 100%;
    &__top {
        background-color: #222;
        padding: 10px 0px;
    }
    
    &__location, &__lang{
        background: transparent;
        border: 0px;
        color: #fff;
        appearance: none;
        font-size: 14px;
    }
    &__location{
        & > i{
            margin-right: 5px;
        }
    }
    &__lang{
        margin-left: 30px;
        display: flex;
        align-items: center;
        & > img{
            width: 18px;
            height: auto;
            margin-right: 8px;
        }
    }

    &__container {
        width: $maxWidth;
        margin: 0 auto;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__grid{
        display: grid;
        &-middle{
            display: grid;
            grid-template-columns: .5fr 2fr auto;
            align-items: center;
            grid-column-gap: 40px;
        }

    }
    &__left {
        display:flex
    }
    
    
    &__right {
        display: flex;

        &-middle{
            grid-column-gap: 30px;
        }
        & > span{
            color: #fff;
            margin-right: 30px;
            font-size: 14px;
            &:last-child{
                margin-right: 0px;
            }
        }
        & > ul{
            & > li > a{
                padding-right: 20px;
                color: #fff;
            }
            & > li:last-child{
                & > a{
                    padding-right: 0px;
                }
            }
        }
    }
    &__middle {
        padding: 18px 0px;
    }

    &__item{
        &-cart, &-user{
            padding: 5px 10px;
            border-radius: 10px;
            cursor: pointer;
            transition: all ease-in-out .3s;
            &:hover{
                background: #f5f5f5;
            }
        }
    }

    &__logo{
        font-weight: bold;
    }


    &__searchWrapper{
        position: relative;

        & > i{
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%) rotateY(180deg);
            font-size: 14px;
            color: #666;
        }
    }

    &__search{
        border-radius: 100px;
        border: 0px;
        background: #efefef;
        padding: 7px 20px;
        font-size: 15px;
        line-height: 15px;
        width: 100%;

    }

    &__bottom {
        padding: 25px 0px;
        background: #f8f8f8;
        & ul{
            margin-bottom: 0px;
            & >li{
                &.active{
                    & > a{
                        font-weight: bold;
                    }
                }
                &.category{
                    border-right: 1px solid #999;
                    margin-right: 15px;
                    & > a{
                        padding-right: 10px;
                    }
                }
                &.dropdown{
                    &::after{
                        content: '\f078';
                        font-family: "Font Awesome 5 Free";
                        font-size: 12px;
                        padding-right: 15px;

                    }
                }
                & > a{
                    padding-right: 25px;
                    color: #333;
                    font-size: 15px;
                }
                &:last-child{
                    & > a{
                        padding-right: 0px;
                    }
                }
            }
        }

    }
    

}

.header-item{
    display: flex;
    align-items: center;
    &__icon{
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #efefef;
        border-radius: 100%;
        font-size: 14px;
    }
    &__text{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        line-height: 15px;
        & > span{
            font-size: 13px;
            color: #666;
        }
        & > span:last-child{
            font-size: 14px;
            font-weight: bold;
            color: #111;
        }
    }
}

.header-icon{
    position: relative;

    &__badge{
        position: absolute;
        top: 0px;
        right: 0px;
        width: 17px;
        height: 17px;
        font-size: 11px;
        font-weight: bold;
        background: red;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }

}